name: CI

on:
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - uses: gradle/actions/setup-gradle@v4

      - name: Run tests
        run: ./gradlew test --stacktrace
        continue-on-error: true

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: test-results
          path: '**/build/test-results/**/TEST-*.xml'
      - name: Upload Jacoco html report
        if: always()
        uses: actions/upload-artifact@v4
        with:
            name: jacoco-report-html
            path: build/reports/jacoco/test/html
            retention-days: 14
      - name: Publish Jacoco coverage to pull_request
            if: always()
            uses:
                paths: ${{ github.workspace }}/build/reports/jacoco/test/jacocoTestReport.xml
                token: ${{ secrets.GITHUB_TOKEN }}
                min-coverage-overall: 70
                min-coverage-changes-files: 60
                title: Code Coverage Report
                update-comment: true
